<div class="bus-container">
    <div class="buses">
        <div class="bus">
            <div class="cilindro1"></div>
            bus de control
            <div class="cilindro2"></div>
        </div>
        <div class="bus">
            <div class="cilindro1"></div>
            bus de datos
            <div class="cilindro2"></div>
        </div>
        <div class="bus" [class.animated]="estilo" [class.flash]="estilo">
            <div class="cilindro1"></div>
            bus de dirección
            <div class="cilindro2"></div>
        </div>
    </div>
</div>